{% extends 'index.html' %}
{% block title %}Feedback Secret{% endblock %}

{% block content %}
<h1 class="display-1">Secret</h1>
<form class="d-inline mr-1" action="/logout" method="POST">
    <input class="d-inline btn btn-primary my-3" type="submit" value="Logout">
</form>
<form class="d-inline ml-1" action="/user/{{user.username}}/delete" method="POST">
    <input class="d-inline btn btn-secondary my-3" type="submit" value="Delete User">
</form>



<div class="row">
    <div class="col-6">
        <h3>User Info:</h3>
        <p>{{user.username}}</p>
        <p>{{user.email}}</p>
        <p>{{user.first_name}}</p>
        <p>{{user.last_name}}</p>
        <button class="btn btn-primary">
            <a style="color:white;" href="/user/{{user.username}}/feedback/add">Give Feedback</a>
        </button>
    </div>
    <div class="col-6">
        {% if user.is_admin %}
        {% for user in admin_users %}
        <h3>User Info:</h3>
        <p>{{user.username}}</p>
        <p>{{user.email}}</p>
        <p>{{user.first_name}}</p>
        <p>{{user.last_name}}</p>
        <form class="my-2" action="/user/{{user.username}}/feedback/add" method="GET">
            <button class="btn btn-primary">
                Admin Add Feedback
            </button>
        </form>
        <form class="my-2" action="/user/{{user.username}}/delete" method="POST">
            <button class="btn btn-danger">
                Admin Delete User
            </button>
        </form>
        {% endfor %}
        {% endif %}
    </div>
</div>

<div class="my-2">
    {% if user.is_admin %}
    {% for feedback in admin_feedback %}
    <hr>
    <h2>{{feedback.username}}</h2>
    <h3>{{feedback.title}}</h3>
    <p>{{feedback.content}}</p>

    <form class="my-2" action="/feedback/{{feedback.id}}/update" method="GET">
        <button class="btn btn-secondary">
            Edit Feedback
        </button>
    </form>
    <form class="my-2" action="/feedback/{{feedback.id}}/delete" method="POST">
        <button class="btn btn-danger">
            Delete
        </button>
    </form>
    {% endfor %}
    {% else %}
    {% for feedback in all_feedback %}
    <hr>
    <h3>{{feedback.title}}</h3>
    <p>{{feedback.content}}</p>

    <form class="my-2" action="/feedback/{{feedback.id}}/update" method="GET">
        <button class="btn btn-secondary">
            Edit Feedback
        </button>
    </form>
    <form class="my-2" action="/feedback/{{feedback.id}}/delete" method="POST">
        <button class="btn btn-danger">
            Delete
        </button>
    </form>

    {% endfor %}
    {% endif %}
</div>
{% endblock %}